<script src="{{ base_path }}/assets/js/main.min.js"></script>

<script>
(function($) {
  $(function() {

    function isMobile() {
      return window.matchMedia("(max-width: 768px)").matches;
    }

    function resetMenus() {
      var $topButton = $("#site-nav > button");
      var $visible = $("#site-nav > .visible-links");
      var $hidden = $("#site-nav > .hidden-links");
      var $follow = $(".author__urls-wrapper .author__urls");

      if (isMobile()) {
        $visible.children(".masthead__menu-item:not(.masthead__menu-item--lg)").appendTo($hidden);

        $topButton.removeClass("hidden close").show();
        $hidden.addClass("hidden").hide();

        $follow.hide();
      } else {
        $hidden.children().appendTo($visible);

        $topButton.addClass("hidden").removeClass("close").hide();
        $hidden.addClass("hidden").hide();

        $follow.show();
      }
    }

    resetMenus();

    $(window).off("resize.siteMenus").on("resize.siteMenus", function() {
      resetMenus();
    });

/*    $(document).off("click.siteTopMenu", "#site-nav > button");
    $(document).on("click.siteTopMenu", "#site-nav > button", function(e) {
      e.preventDefault();
      e.stopPropagation();

      var $hidden = $("#site-nav > .hidden-links");

      $hidden.toggleClass("hidden").toggle();
      $(this).toggleClass("close");
    });*/

    $("#site-nav > button").off();
  
    $("#site-nav > button").on("click", function(e) {
      e.preventDefault();
      e.stopImmediatePropagation();
    
      var $hidden = $("#site-nav > .hidden-links");
    
      if ($hidden.hasClass("hidden")) {
        $hidden.removeClass("hidden").css("display", "block");
        $(this).addClass("close");
      } else {
        $hidden.addClass("hidden").css("display", "none");
        $(this).removeClass("close");
      }
    
      return false;
    });

    $(document).off("click.authorFollow", ".author__urls-wrapper button");
    $(document).on("click.authorFollow", ".author__urls-wrapper button", function(e) {
      e.preventDefault();
      e.stopPropagation();

      $(this)
        .closest(".author__urls-wrapper")
        .find(".author__urls")
        .toggle();
    });

  });
})(jQuery);
</script>

{% include analytics.html %}
