<script src="{{ base_path }}/assets/js/main.min.js"></script>

<script>
(function($) {
  $(function() {

    function isMobile() {
      return window.matchMedia("(max-width: 768px)").matches;
    }

    /* Top menu */
    function forceResponsiveMenu() {
      var $nav = $("#site-nav");
      var $btn = $("#site-nav button");
      var $visible = $("#site-nav .visible-links");
      var $hidden = $("#site-nav .hidden-links");

      if (!$nav.length) return;

      if (isMobile()) {
        $visible.children(".masthead__menu-item:not(.masthead__menu-item--lg)").appendTo($hidden);
        $btn.show().removeClass("hidden close");
        $hidden.addClass("hidden").hide();
      } else {
        $hidden.children().appendTo($visible);
        $btn.hide().addClass("hidden").removeClass("close");
        $hidden.addClass("hidden").hide();
      }
    }

    forceResponsiveMenu();

    $(window).off("resize.forceResponsiveMenu").on("resize.forceResponsiveMenu", function() {
      forceResponsiveMenu();
    });

    $("#site-nav button").off("click.forceResponsiveMenu").on("click.forceResponsiveMenu", function(e) {
      e.preventDefault();
      e.stopPropagation();
    
      if (!isMobile()) return;
    
      var $hidden = $("#site-nav .hidden-links");
      $(this).toggleClass("close");
    
      if ($hidden.hasClass("hidden")) {
        $hidden.removeClass("hidden").show();
      } else {
        $hidden.addClass("hidden").hide();
      }
    });

    /* Author Follow menu */
    function closeAuthorFollowOnMobile() {
      var $followMenu = $(".author__urls-wrapper .author__urls");

      if (isMobile()) {
        $followMenu.hide();
      } else {
        $followMenu.show();
      }
    }

    closeAuthorFollowOnMobile();

    $(window).off("resize.authorFollow").on("resize.authorFollow", function() {
      closeAuthorFollowOnMobile();
    });

    $(".author__urls-wrapper button").off("click.authorFollow").on("click.authorFollow", function(e) {
      e.preventDefault();
      e.stopPropagation();

      $(this)
        .closest(".author__urls-wrapper")
        .find(".author__urls")
        .toggle();
    });

  });
})(jQuery);
</script>

{% include analytics.html %}
