---
# Only the main Sass file needs front matter
---
@charset "utf-8";

/* 1. Skin must come first to set colors */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";

/* 2. Essential tools (Breakpoints & Variables) */
/* These MUST be here for the menu to know when to expand */
@import "vendor/breakpoint/breakpoint"; 
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

/* 3. The Theme Core */
@import "minimal-mistakes";

/* 4. Individual Components */
@import "reset";
@import "base";
@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";    // Logic for the top bar
@import "navigation";  // Logic for the menu items
@import "footer";
@import "syntax";
@import "forms";
@import "page";
@import "archive";
@import "sidebar";

/* 5. Extras */
@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";
