---
# Only the main Sass file needs front matter
---
@charset "utf-8";

/* Load the chosen skin from _config.yml */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";

/* Load the theme core */
@import "minimal-mistakes";
